.compare-box {
  display: flex;
  padding-bottom: 96px;

  & .table-compare-main,
  .table-compare-info,
  .table-compare-info-active {
    & tr {
      border-bottom: 1px solid #e8e8e8;

      & th,
      td {
        width: 100%;
      }

      & th {
        height: 100px;
      }

      & td {
        height: 49px;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  & .table-compare-main {
    flex: 0 0 25%;
    color: $table-text-color;
    font-weight: $Medium;
    font-size: 16px;
    line-height: 24px;

    & tr {
      & th,
      td {
        & select {
          width: 80%;
          height: 39px;
          font-weight: $Regular;
          font-size: 14px;
          line-height: 16px;
          color: $table-text-color;
          border: 1px solid #d2d2d2;
          padding-left: 10px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  & .table-compare-info-box {
    flex: 0 0 75%;
    display: flex;

    & .table-compare-info,
    .table-compare-info-active {
      flex: 1 1 100%;
      border-left: 1px solid #e8e8e8;

      & table {
        width: 100%;
      }
    }

    & .table-compare-info-active {
      & tr {
        height: 49px;
      }

      & th,
      td {
        padding: 0 15px;
      }

      & th {
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        & .compare-name {
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
        }

        & .compare-close {
          font-weight: $Regular;
          font-size: 12px;
          line-height: 14px;
          color: $gray-light-color;
          cursor: pointer;
          position: absolute;
          right: 15px;
          top: 10px;

          & span {
            margin-right: 5px;
          }
        }
      }

      & td {
        & .table-review,
        .table-review-1,
        .table-review-2,
        .table-review-3 {
          font-size: 18px;
          line-height: 24px;
          color: #000000;
        }

        & .table-review {
          line-height: 18px;
          padding-right: 10px;
          border-right: 1px solid #000000;
          margin-right: 7px;
        }

        & .table-review-1 {
          color: $green-color;
          margin-right: 7px;
        }

        & .table-review-3 {
          color: #d41538;
          margin-left: 7px;
        }

        & .compare-link {
          font-size: 14px;
          line-height: 24px;
          text-decoration-line: underline;
          color: #003465;

          &:hover {
            color: $green-color;
          }
        }
      }
    }
  }
}
