.sub-footer-wrapper {
  padding: 43px 0;
  background-color: #f9f9f9;
}

.sub-footer {
  display: flex;
  justify-content: space-between;

  & .sub-footer-nav li a {
    line-height: 34px;
    color: $black-color;

    &:hover {
      color: $green-color;
    }
  }
}

.footer-wrapper {
  padding: 35px 0;
  background-color: #3b3b3b;
}

.footer {
  & .mobile-footer-style {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      flex: 0 0 192px;

      & a {
        display: block;

        & img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    & .footer-nav {
      & ul {
        display: flex;
        align-items: center;

        & li {
          & a {
            font-weight: $Regular;
            font-size: 14px;
            line-height: 16px;
            color: $white-color;
            padding: 0 20px;
            border-right: 1px solid $white-color;

            &:hover {
              color: $green-color;
            }
          }
        }

        & .mobile {
          display: none;
        }
      }
    }
  }

  & .copyright {
    font-size: 12px;
    line-height: 14px;
    color: #9d9d9d;
    margin: 12px 0;

    & a {
      color: #9d9d9d;

      &:hover {
        color: $green-color;
      }
    }
  }

  & .footer-info {
    font-size: 12px;
    line-height: 14px;
    color: $white-color;
    position: relative;

    & .footer-btn-toggle {
      display: none;
      width: 40px;
      height: 20px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;

      & img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    & p {
      margin: 0;
    }
  }
}
