.header {
  margin-bottom: 40px;

  & .header-main-box {
    background-color: #3b3b3b;
  }

  & .header-nav-box {
    background-color: #101010;
  }
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 36px 0;

  & .logo {
    flex: 0 0 192px;

    & a {
      display: block;

      & img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  & .search {
    flex: 0 0 25%;
  }

  & .user-option {
    display: flex;
    align-items: center;
    color: $white-color;

    & .personal-area {
      margin-right: 30px;
    }

    & .personal-area,
    .registration {
      color: $white-color;

      & span {
        transition: 0s;
      }

      &:hover {
        color: $green-color;
      }
    }
  }
}

.navigations {
  & .navbar {
    padding: 0;

    & .navbar-nav {
      & li {
        padding: 13px 0;
        position: relative;

        & a {
          display: block;
          padding: 0 54px;
          font-size: 16px;
          line-height: 21px;
          color: $white-color;
          border-right: 1px solid #474747;

          &:hover {
            color: $green-color;
          }
        }

        & .arrow-nav {
          display: none;
          width: 8px;
          height: 8px;
          position: absolute;
          right: 3px;
          top: 11px;
        }

        & .sub-nav {
          position: absolute;
          left: 0;
          right: 0;
          display: none;
          background-color: #101010;
          z-index: 10;
          top: 45px;
          border-bottom: 3px solid;
          border-image: linear-gradient(
              109.52deg,
              #0bd367 16.86%,
              #0bd3d3 87.76%
            )
            100% 0%;
          padding: 10px;

          & li {
            padding: 0;

            & a {
              border: 0;
              padding: 6px 0;
            }
          }
        }

        &:hover {
          & .arrow-nav {
            transform: rotate(90deg);
          }

          & .sub-nav {
            display: block;
          }
        }

        &:nth-child(2) {
          & a {
            padding: 0 54px 0 0;
          }
        }

        &:last-child {
          & a {
            padding: 0 0 0 54px;
            border: 0;
          }
        }
      }

      & .mobile-user-option {
        display: none;
        padding: 0;

        & .personal-area,
        .registration {
          color: $white-color;

          & span {
            transition: 0s;
          }

          &:hover {
            color: $green-color;
          }
        }
      }
    }
  }
}

.content-box {
  display: flex;
  align-items: center;
  padding: 14px 0;

  & li {
    & strong {
      font-style: $Regular;
      font-weight: $Medium;
      font-size: 14px;
      line-height: 16px;
      color: #525252;
    }

    & a {
      display: block;
      padding: 0 20px;
      color: #525252;
      border-right: 1px solid #9d9d9d;
      line-height: 16px;

      &:hover {
        color: $green-color;
      }
    }

    &:last-child {
      & a {
        padding: 0 0 0 21px;
        border: 0;
      }
    }
  }
}

.page-style {
  margin: 0;

  & .content-box-wrapper {
    background-color: #fafafa;
  }
}
