/* Colors */

$white: #fff;
$black: #000;
$white-color: #fff;
$black-color: #000;
$text-color: #252525;
$title-color: #0f0f0f;
$info-color: #141414;
$section-color: #151515;
$green-color: #6cb83d;
$table-text-color: #393939;
$gray-light-color: #8f8f8f;
$red-color: #ff1f00;
$gradient-color: linear-gradient(109.52deg, #0bd367 16.86%, #0bd3d3 87.76%);

/* Fonts */

$Roboto: "Roboto", sans-serif;

$light: 300;
$Regular: 400;
$Medium: 500;
$bold: 700;

/* title */

$h1: 29px;
$h2: 28px;
$h3: 25px;
$h4: 19px;
$h5: 15px;
$h6: 13px;

/* font-text */

$font-text: 14px;
